<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Plan</title>
</head>
<body>
    <a href="{% url 'travel:index' %}">Home</a>
    <a href="{% url 'login:logout' %}">Logout</a>
    <h2>Add a Trip</h2>
     {% if messages %}
        {% for message in messages %}
            <h5>{{ message }}</h5>
        {% endfor %}
    {% endif %}
    <form action="{% url 'travel:add_trip' %}" method="POST">
        {% csrf_token %}
        <p>Destination: <input type="text" name="destination"></p>
        <p>Description: <input type="text" name="description"></p>
        <p>From: <input type="date" name="travel_date_from"></p>
        <p>To: <input type="date" name="travel_date_to"></p>
        <input type="submit" value="Add">
    </form>
</body>
</html>